body{
	font-family: 'Noto Sans TC', sans-serif;
}


h1{
	font-family: 'Noto Sans TC', sans-serif;
}

.bg-primary {
background-color: #004a57!important;
background-image: url("../img/45-degree-fabric-light.png");
}